.card{
    border: 1px solid hsl(0, 0%, 70%) ;
    border-radius: 10px;
    box-shadow: 5px 5px #ddd;
    width: 250px;
    height: 500px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    position: absolute;
    display: inline-block;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
card-container {
  position: relative;
}

.card .card-img{
  width: 200px;
  height: 250px;
  border-radius: 30%;
}

.card .card-title{
  font-family: Ara Aqeeq;
  font-size: 1.7em;
  
}   

.card .card-text{
    font-family: Sakkal Majalla;
    font-size: 1.5em;
    margin: 0;
}